h1 {
  text-align: center;
  color: brown;
}
h3 {
  color: green;
  margin-top: 30px;
}
span#Data {
  font-size: 18;
  color: grey;
}
article#person {
  margin-left: 32;
  text-align: justify;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 60px;
}
.divYellow {
  background-color: yellow;
  width: 200px;
  height: 20px;
  display: inline;
}
.divBlue {
  background-color: blue;
  width: 200px;
  height: 20px;
  display: inlene-block;
}
body {
  display: inline;
}
header {
  height: 20;
  background-color: aqua;
}
footer {
  background-color: bisque;
}
nav > ul {
  font-size: 16;
}
nav > ul > li {
  display: inline-block;
  border: 1px solid blue;
  padding: 2px;
  font-size: 16;
}
